{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container bg-light shadow-md p-5 form-layout">

    <h1>Update Client</h1>
    <hr style="border: 1px solid #344794; margin: 35px 210px;">

    <form method="post" autocomplete="off">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="text-center">
            <br>
            <a href="{% url 'view_client' form.instance.id %}" class="btn btn-outline-primary">Cancel Update &nbsp; <i class="fa fa-ban" aria-hidden="true"></i></a>
            <button type="submit" class="btn btn-outline-primary">Update Client</button>
        </div>
    </form>
    
</div>

{% endblock %}